
@keyframes morphCard {
  from {
    clip-path: polygon(
        150% 150%, 
        84% 185%,
        0% 180%,
        -20% -20%, 
        150% -20%
    );
  }
  to {
    clip-path: polygon(
        150% 150%, 
        84% 160%, 
        -1% 79%, 
        -20% -20%, 
        150% -20%
    );
  }
}

.drop-zone {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    opacity: 0.2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}
.drop-zone .hologram {
    position: absolute;
}
.drop-zone .hologram .facedown:hover {
    cursor:pointer;
}
.drop-zone .hologram:nth-child(1)  { left: 0.5em; }
.drop-zone .hologram:nth-child(2)  { left: 1em; }
.drop-zone .hologram:nth-child(3)  { left: 1.5em; }
.drop-zone .hologram:nth-child(4)  { left: 2em; }
.drop-zone .hologram:nth-child(5)  { left: 2.5em; }
.drop-zone .hologram:nth-child(6)  { left: 3em; }
.drop-zone .hologram:nth-child(7)  { left: 3.5em; }
.drop-zone .hologram:nth-child(8)  { left: 4em; }
.drop-zone .hologram:nth-child(9)  { left: 8.8em; }
.drop-zone .hologram:nth-child(10) { left: 9.9em; }
.drop-zone .hologram:nth-child(11) { left: 11em; }
.drop-zone .hologram:nth-child(12) { left: 12.1em; }
.drop-zone .hologram:nth-child(13) { left: 13.2em; }
.drop-zone .hologram:nth-child(14) { left: 14.3em; }
.drop-zone .hologram:nth-child(15) { left: 15.4em; }
.drop-zone .hologram:nth-child(16) { left: 16.5em; }
.drop-zone .hologram:nth-child(17) { left: 17.6em; }
.drop-zone .hologram:nth-child(18) { left: 18.7em; }
.drop-zone .hologram:nth-child(19) { left: 19.8em; }
.drop-zone .hologram:nth-child(20) { left: 20.9em; }
.drop-zone .hologram:nth-child(21) { left: 22em; }
.drop-zone .hologram:nth-child(22) { left: 23.1em; }
.drop-zone .hologram:nth-child(23) { left: 24.2em; }
.drop-zone .hologram:nth-child(24) { left: 25.3em; }
.drop-zone .hologram:nth-child(25) { left: 26.4em; }
.drop-zone .hologram:nth-child(26) { left: 27.5em; }

.drop-zone::before{
    position: absolute;
    border: none;
    content:"";
    transition: var(--animate-highlight);
}

.drop-zone-highlight::before{    
    content:"";
    margin:auto;
    display: block;
    border: dashed 0.5rem;
    border-color: black;
    width: calc(100% - 1rem);
    height:calc(100% - 1rem);
}
.drop-zone-highlight.drop-zone-active::before {
    border: none;
}

.drop-zone-landed{
}
div.drop-zone-active {
}


.dragging{
    opacity: 0.15;
}

ul.hand li.cardContainer:hover > .card.smallCard{
    animation: morphCard forwards 0.27s cubic-bezier(0, 0.9999, 0.95, 1.0);
}